################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SystemSchool.Server/bin
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/BouncyCastle.Crypto.dll
/SystemSchool.Server/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
/SystemSchool.Server/bin/Debug/net8.0/comerr64.dll
/SystemSchool.Server/bin/Debug/net8.0/Google.Protobuf.dll
/SystemSchool.Server/bin/Debug/net8.0/gssapi64.dll
/SystemSchool.Server/bin/Debug/net8.0/Humanizer.dll
/SystemSchool.Server/bin/Debug/net8.0/K4os.Compression.LZ4.dll
/SystemSchool.Server/bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
/SystemSchool.Server/bin/Debug/net8.0/K4os.Hash.xxHash.dll
/SystemSchool.Server/bin/Debug/net8.0/k5sprt64.dll
/SystemSchool.Server/bin/Debug/net8.0/krb5_64.dll
/SystemSchool.Server/bin/Debug/net8.0/krbcc64.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Build.Locator.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/SystemSchool.Server/bin/Debug/net8.0/Mono.TextTemplating.dll
/SystemSchool.Server/bin/Debug/net8.0/MySql.Data.dll
/SystemSchool.Server/bin/Debug/net8.0/MySql.EntityFrameworkCore.dll
/SystemSchool.Server/bin/Debug/net8.0/System.CodeDom.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Composition.Convention.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Composition.Hosting.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Composition.Runtime.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Composition.TypedParts.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Drawing.Common.dll
/SystemSchool.Server/bin/Debug/net8.0/System.IO.Pipelines.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Security.Permissions.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Text.Json.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Windows.Extensions.dll
/SystemSchool.Server/bin/Debug/net8.0/SystemSchool.Server.deps.json
/SystemSchool.Server/bin/Debug/net8.0/SystemSchool.Server.dll
/SystemSchool.Server/bin/Debug/net8.0/SystemSchool.Server.exe
/SystemSchool.Server/bin/Debug/net8.0/SystemSchool.Server.pdb
/SystemSchool.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/ZstdNet.dll
/SystemSchool.Server/bin/Debug/net8.0/ZstdSharp.dll
/SystemSchool.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
.bin
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/SystemSchool.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/SystemSchool.Server/bin/Debug/net8.0/MySql.Data.dll
/SystemSchool.Server/bin/Debug/net8.0/MySql.EntityFrameworkCore.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/SystemSchool.Server/bin/Debug/net8.0/System.Security.Permissions.dll
/SystemSchool.Server/bin/Debug/net8.0/SystemSchool.Server.dll
/SystemSchool.Server/bin/Debug/net8.0/SystemSchool.Server.exe
/SystemSchool.Server/bin/Debug/net8.0/SystemSchool.Server.pdb
/.vs/SystemSchool/FileContentIndex/03ca90d2-3470-4ba2-b718-af2dcfeac3da.vsidx
/.vs/SystemSchool/FileContentIndex/85b3e429-ae98-4088-ab26-d17a01e13825.vsidx
/.vs/SystemSchool/FileContentIndex/874b3a27-c9bc-45dc-be06-469cb0f69897.vsidx
/.vs/SystemSchool/FileContentIndex/d8aa6cbc-9caa-4541-ad4b-9126643e2360.vsidx
